//Colors

$green-100: #e1e9e5;
$green-200: #2ea37b;
$green-300: #22686c;
$green-400: #025438;
$orange-100: #f7af49;
$orange-200: #eb9e32;
$white: #ffffff;
$light-100: #efefef;
$light-200: #f2f2f2;
$gray-100: #d4d4d5;
$gray-200: #959595;
$gray-300: #848484;
$gray-400: #666666;
$gray-500: #59595b;
$gray-600: #868686;
$dark-100: #363636;
$dark-200: #1b242b;

//Fonts
$default-font-size: 14px;

//Star
$star-size: 60px;
$star-color: #fff;
$star-background: #fc0;